.hour {
    height: 80px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
}

.hour_row_head {
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.hour_row_body {
    width: 100%;
}

.half {
    position: relative;
    height: 40px;
    width: 100%;
}

.half:hover {
    background-color: #4f7df4;
}

.half:first-child {
    border-bottom: 1px dashed #ddd;
}