.hour {
    height: 80px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
}

.hour_row_head {
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.hour_row_body {
    width: 100%;
    position: relative;
}

.half {
    height: 40px;
    width: 100%;
    border: 1px dashed #4f7ef400;
    /* margin: 2px; */
}

.half:hover {
    /* background-color: #4f7df4; */
    border: 1px dashed #4f7df4;
    border-radius: 5px;
    /* margin: 2px; */
}

.half:first-child {
    border-bottom: 1px dashed #ddd;
}

.half-now {
    position: absolute;
    z-index: 100;
    width: 100%;
}

.hour-line {
    /* position: absolute; */
    /* z-index: 100; */
    /* color: #ff726b; */

    border-bottom: 1px solid #ff726b;
    width: 100%;
}