.hour {
    height: 80px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
}

.weekend {
    background-color: #fafafa
}

.today {
    background-color: #eff7f6
}

.hour_block {
    width: 100%;
    position: relative;

    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

/* .hour_row_head {
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
} */

.half {
    height: 40px;
    width: 100%;
    border: 1px dashed #4f7ef400;
    position: absolute;
    /* margin: 2px; */
}

/* .half:hover {
    border: 1px dashed #4f7df4;
    border-radius: 5px;
} */

/* .half-active {
    border: 1px dashed #4f7df4;
    border-radius: 5px;
} */

.half_first {
    position: absolute;
    height: 40px;
    border-bottom: 1px dashed #ddd;
    top: 0;
}

.half_second {
    position: absolute;
    height: 40px;
    top: 40px;
}

/* .half-now {
    position: absolute;
    z-index: 100;
    width: 100%;
} */

/* now line */

.line_container {
    width: 100%;
    position: relative;
    pointer-events: none;
}

.now_line {
    height: 40px;
    width: 100%;
    border: 1px dashed #4f7ef400;
    position: absolute;
    /* margin: 2px; */
}

.line {
    border-bottom: 1px solid #ff726b;
    width: 100%;
}