.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.interval {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 36px;
  border-radius: 5px;
  background-color: #ccc;
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: start;
}

.arrows_btn_group {
  display: flex;
  justify-content: start;
  padding: 0;

  align-items: center;
  /* margin-right: 10px; */

  list-style: none;
  cursor: pointer;

  height: 36px;
}

.arrows_btn_group_element {
  padding: 0 24px;
  list-style-type: none;
  height: 100%;
  display: flex;
  align-items: center;
}


.arrows_btn_group_element:hover {
  background-color: #eee;
}


.arrows_btn_group_element:first-child {
  /* background-color: #eee; */
  border-radius: 5px 0 0 5px;
}

.arrows_btn_group_element:last-child {
  /* background-color: #eee; */
  border-radius: 0 5px 5px 0;
}

.today {
  /* border: 1px solid #bbb; */
  padding: 0 20px;
  /* border-radius: 3px; */
  cursor: pointer;
  /* margin-left: 10px; */
}

.active_interval {
  font-size: 20px;
}

.period_btn_group {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.period_btn_group_element {
  list-style-type: none;
}

.period_btn_group_element {
  border: 1px solid #bbb;
  padding: 5px 24px;
  cursor: pointer;
  float: left;
  border-radius: 3px;
}

.period_btn_group_element:not(:last-child) {
  /* Предотвращение двойных границ */
  border-right: none;
  border-radius: 0;
}

.period_btn_group_element:first-child {
  border-radius: 3px 0 0 3px;
}

.period_btn_group_element:last-child {
  border-radius: 0 3px 3px 0;
}

/* Очистить поплавки (clearfix) взлом */
.period_btn_group_element:after {
  content: "";
  clear: both;
  display: table;
}

/* Добавить цвет фона при наведении курсора */
.period_btn_group_element:hover {
  background-color: #eee;
}

/* .active {
  background-color: #eee;
} */