.container {
    display: inline-flex;
    position: fixed;
    top: 50px;

    width: 100%;
    height: 50px;

    z-index: 100;

    border-bottom: 1px solid #ddd;

}

.week_number {
    flex: none;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #777;
}

.week_day {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border-left: 1px solid #ddd; */
}

.day_number {
    font-size: 25px;
    margin-right: 5px;
    color: #505050;
}

.day_name {
    padding-top: 12px;
    height: 100%;
    font-size: 12px;
    color: #777;
}