.event-block {
    background-color: #3EB489;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 5px;
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    margin: 2px 15px 2px 2px;
    border-radius: 5px;
}

.event-time {
    margin-right: 7px;
}

.event-summary {
    font-weight: 700;
    /* Без переносов */
    white-space: nowrap;

    /* Скрываем лишнее */
    overflow: hidden;

    /* Добавляем многоточие */
    text-overflow: ellipsis;

    /* Растягиваем на всю доступную ширину */
    width: 100%;

    /* width: fit-content; */
}